{% extends "layout.html" %}

{% block content %}

<div id="main">

    <div class="w3-row w3-padding-64">
        <div class="w3-container">
            <h1 class="w3-text-teal">{{ subtask_title }}</h1>
            <p>Lorem consequat.</p>
        </div>
    </div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main">

        <h1 class="w3-text-teal">THIS IS TITLE</h1>

        {% for i in static_plots %}

        <div class="w3-row w3-padding-64">
            <div class="w3-container">
                <h1 class="w3-text-teal">{{ i[0] }}</h1>
                <p>Lorem consequat.</p>
            </div>

            <div class="w3-container">
                <h2><img alt="{{ i[1] }}" class="w3-border w3-padding-large w3-padding-64 w3-center" src="{{ i[1] }}">
                </h2>
                <p class="w3-border w3-padding-large w3-padding-64 w3-center"><img
                        alt="{{ i[1] }}" class="w3-border w3-padding-large w3-padding-64 w3-center" src="{{ i[1] }}">
                </p>
            </div>
        </div>

        <hr>

        {% endfor %}

        {% for i in dynamic_plots %}

        <div class="w3-row w3-padding-64">
            <div class="w3-container">
                <h1 class="w3-text-teal">{{ i[0] }}</h1>
                <p>Lorem consequat.</p>
            </div>
        </div>

        <div class="w3-container" data-include="{{ i[1] }}" id="includedHTMLContent"></div>

        <div w3-include-html="\\templates\\gender-distribution.html"></div>

        <link href="{{ i[1] }}" rel="import"/>

        {% endfor %}

    </div>
    <!-- END MAIN -->
</div>

{% endblock %}
