<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Web Data Mining Project" name="description">

    <title>Web Data Mining</title>

    <!-- stylesheets -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

</head>

<body>

<!-- Page Content -->

<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link href="https://www.w3schools.com/lib/w3-theme-black.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
    }

    .navbar {
        height: 52px;
        overflow: hidden;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }

    .w3-sidebar {
        top: 52px; /* Stay at the top */
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 250px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        left: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

    .w3-main {
        top: 52px; /* begin after the top-bar */
        text-align: center;
        max-width: 80%;
        margin: 1rem auto;
        overflow: auto;
        padding: 0 2rem;
    }

    #mySidebar {
        color: white;
    }

    #myFooter {
        text-align: center;
    }
</style>


<body>
<div class="navbar">
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open_close()">☰</button>
</div>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="mySidebar" style="display:none">
    <h4>
        <button class="w3-bar-item w3-button w3-text-teal"><i class="fa fa-home"></i> <b>Home</b></button>
    </h4>

    <!-- Task 3 -->
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc(1)"><i class="fa fa-bar-chart"></i> Task 3 <i
            class="fa fa-caret-down"></i></button>
    <div class="w3-bar-block w3-hide w3-white w3-card-4" id="drop_down_menu_1">
        <form action="/emerg_topics" method="POST">
            <input class="w3-bar-item w3-button w3-hover-black" type="submit" value="Emerging Topics">
        </form>

        <form action="/dtm" method="POST">
            <input class="w3-bar-item w3-button w3-hover-black" type="submit" value="Dynamic Topic Modeling">
        </form>

        <form action="/ner" method="POST">
            <input class="w3-bar-item w3-button w3-hover-black" type="submit" value="Named Entities Extraction">
        </form>

        <form action="/affect_analysis" method="POST">
            <input class="w3-bar-item w3-button w3-hover-black" type="submit" value="Affective Analysis">
        </form>

        <form action="/sentim_analysis" method="POST">
            <input class="w3-bar-item w3-button w3-hover-black" type="submit" value="Sentiment Analysis">
        </form>
    </div>

    <!-- Task 5 -->
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc(2)"><i class="fa fa-bar-chart"></i> Task 5 <i
            class="fa fa-caret-down"></i></button>
    <div class="w3-bar-block w3-hide w3-white w3-card-4" id="drop_down_menu_2">
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> Age Detection</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> Gender Detection</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> -</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> -</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> -</a>
    </div>

    <!-- Task 6 -->
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc(3)"><i class="fa fa-bar-chart"></i> Task 6 <i
            class="fa fa-caret-down"></i></button>
    <div class="w3-bar-block w3-hide w3-white w3-card-4" id="drop_down_menu_3">
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> Natural Language - Like
            Prediction Model</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#"><i class="fa fa-bar-chart"></i> Base - Like Prediction
            Model</a>
    </div>

</div>

<!-- child template -->
{% block content %}{% endblock %}

<footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-14 w3-text-teal">
        <h4>PROJECT for subject Web Data Mining of MSc "Data and Web science"</h4>
        © 2020 Source Code can be found <a href="https://github.com/orestislampridis/web_data_mining" target="_blank">here</a>
    </div>

    <div class="w3-container w3-theme-l1 w3-text-teal">
        <h4>Contributors:</h4>
        <p>Kontoulis Chrysovalantis Giorgos | Lampridis Orestis | Tzallas Petros</p>
        <p><a href="mailto:ckontoul@csd.auth.gr" target="_blank">ckontoul@csd.auth.gr</a> | <a
                href="mailto:lorestis@csd.auth.gr" target="_blank">lorestis@csd.auth.gr</a> | <a
                href="mailto:ptzallas@csd.auth.gr" target="_blank">ptzallas@csd.auth.gr</a></p>
    </div>
</footer>

<script type="text/javascript">

    // Load HTML in HTML
    includeHTML();

    $(function () {
        var includes = $('[data-include]');
        jQuery.each(includes, function () {
            var file = $(this).data('include');
            document.getElementById("includedHTMLContent").innerHTML = file;
            $(this).load(file);
        });
    });

    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open_close() {
        if (document.getElementById("mySidebar").style.display === "none") {
            document.getElementById("main").style.marginLeft = "13%";
            document.getElementById("mySidebar").style.width = "13%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        } else {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }

    function myAccFunc(id) {
        if (id === 1) {
            var x = document.getElementById("drop_down_menu_1");
        } else if (id === 2) {
            var x = document.getElementById("drop_down_menu_2");
        } else {
            var x = document.getElementById("drop_down_menu_3");
        }

        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-green";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-green", "");
        }
    }
</script>

</body>
</html>